.carousel-item{
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}
.carousel-caption{
    bottom: 220px;
}
.carousel-caption h5{
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    font-family: merienda;
}
.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
    font-family: poppins;
}
.carousel-caption a{
    text-transform: uppercase;
    background: #262626;
    padding: 10px 30px;
    color: #fff;
    margin-top: 15px;
}
.jumbotron{
    background-image: url(tokyo.jpg);
    height: 80vh;
    background-size: cover;
    -webkit-background-size: cover;
}
.jumbotron h1{
    font-family: merienda;
    margin-top: 150px;
}
.row .card:hover{
    box-shadow: 2px 2px 2px rgba(0, 0, 0 , 4);
    transform: scale(1.02);
}
.jumbo1{
    background-image: url(france.jpg);
    height: 80vh;
    background-size: cover;
    -webkit-background-size: cover;
}
.jumbo1 h1{
    font-family: merienda;
    margin-top: 150px;
}
.jumbo3{
    background-image: url(korea.jpg);
    height: 80vh;
    background-size: cover;
    -webkit-background-size: cover;
}
.jumbo3 h1{
    font-family: merienda;
    margin-top: 150px;
}
.card-text{
    font-size: large;
}
.card-text1{
    font-size: large;
}
