<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> 
    <link rel="stylesheet" type="text/css" href="/css/aboutus.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    

    <title>TRIVEL | Official Website</title>

    <style>   
          body {
              background-color: white;
              background-image: url(img/back.jpg);
          }                       

          .feather{
              width: 20px;
              height: 20px;
              margin-bottom: 2.5px;
          }

          h3 {
              color: white;
              font-weight: bold;
          }

          p {
              color: white;
          }
            
          footer {
              text-align: center;
              padding-top: 60px;
              padding-bottom: 80px;
              background-color: black;
              color: gold;
          }
    </style>

<body>
  <nav class="navbar navbar-light d-flex justify-content-between" style="background-color: gold;">
    <a class="navbar-brand ml-5 my-2 font-italic font-weight-bold">
        <i data-feather="send"></i>TRIVEL
    </a>
    
    <form class="form-inline ml-5 my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Type to Search" aria-label="Search">
      <button class="btn btn-dark btn-outline-warning my-2 my-sm-0" type="submit">
        <i data-feather="search"></i>
      </button>
    </form>
    
    <div class="row">
      <div class="col mx-0">
      <a class="nav-link active" href="https://kelompok-15.github.io/Web-Booking-Travel-Online/">Home</a>
      </div>

      <div class="col mx-0">
      <a class="nav-link" href="https://kelompok-15.github.io/Web-Booking-Travel-Online/paket-paket/paket-paket.html">Package</a>
      </div>

      <div class="btn-group dropleft col">
          <button type="button" class="btn btn-dark btn-outline-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i data-feather="user"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="https://kelompok-15.github.io/Web-Booking-Travel-Online/Login/register.html">Sign-Up</a>
            <a class="dropdown-item" href="https://kelompok-15.github.io/Web-Booking-Travel-Online/Login/login.html">Sign-In</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="https://kelompok-15.github.io/Web-Booking-Travel-Online/Popular%20Destination/index.html">Recommendation</a>
            <a class="dropdown-item" href="https://kelompok-15.github.io/Web-Booking-Travel-Online/About%20Us/index.html">About Us</a>
          </div>
        </div>
      </div>
    </div>
</nav>
      
    <section class="u-align-center u-section-1">
      <div class="container">
        <h1><p style="text-align:center" class="mt-3 u-text-1">TRIVEL</p></h1>
          <h1><p style="text-align:center" class="mt-3 u-text-2">Your Travel Solution</p></h1>
          <h2><p style="text-align: center;" class="u-text-3">No matter where you are on vacation, the most important thing is that you can finally enjoy 
            the results of your efforts so far looking for sustenance by enjoying a vacation. So give thanks for all the blessings that God has given in our lives</p></h2>
      </div>
    </section>

    <section class="u-align-center u-section-2">
      <div class="container">
        <h1><p class="mt-3 u-text-1">ABOUT TRIVEL</p></h1>
           <h3><p class="word1 mt-3 u-text-2">Trivel is a leading trip and travel company in Southeast Asia that provides various travel needs in one platform, allowing you to create moments with loved ones. 
             Trivel, which was established in 2020, has served more than 10.000 customers in Indonesia. We offer airplane tickets, train tickets, hotels, and holiday packages at affordable prices.</p></h3>
             <h3><p class="word1 mt-3 u-text-3">Trivel has collaborated with more than 100 domestic and international airlines, Trivel serves more than 9,870 flight routes worldwide. We also have the largest accommodation booking inventory, ranging from hotels, apartments, guest houses, homestays and resorts. 
               All of that is supported by easy payment methods for all customers in Indonesia, as well as customer service that is ready to serve 24 hours in the local language.</p></h3>
        </div>
    </section>

    <section class="u-align-center u-section-3">
      <div class="container">
        <h1><p class="mt-3 u-text-1">What Can We Offer For You</p></h1>
          <h2><p class="mt-3 u-text-2"><i class="fa fa-home"></i> Various Destinations</p></h2>
            <p>a wide selection of interesting and fun destinations with the travel packages that have been provided.</p>
              <h2><p class="mt-3 u-text-3"><i class="fa fa-thumbs-up"></i> Best Service</p></h2>
                <p>the best service we provide to make your trip enjoyable.</p>
                  <h2><p class="mt-3 u-text-4"><i class="fa fa-dollar"></i> Affordable Prices</p></h2>
                    <p>tour packages at affordable prices.</p>
      </div>
    </section>
    
    <footer>
      <span>Contact Us Through
         <br>
         <br>
         <i data-feather="instagram" style="width: 35px; height: 35px;"></i>         
         <i data-feather="facebook" style="width: 35px; height: 35px;"></i>         
         <i data-feather="twitter" style="width: 35px; height: 35px;"></i>         
         <i data-feather="github" style="width: 35px; height: 35px;"></i>
         <br><br><br><br><br>
         Copyright &copy; 2020 by TRIVEL 
         <br>
         All Rights Reserved
      </span>
    </footer>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script> 
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.3/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/feather-icons"></script>
    <script>
        feather.replace();
    </script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.3/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->

  </body>
</html>