<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bora-Bora</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/article.css">
</head>
<body>
    <nav class="navbar navbar-light d-flex justify-content-between" style="background-color: gold;">
        <a class="navbar-brand ml-5 my-2 font-italic font-weight-bold">
            <i data-feather="send"></i>TRIVEL
        </a>
        
        <form class="form-inline ml-5 my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Type to Search" aria-label="Search">
          <button class="btn btn-dark btn-outline-warning my-2 my-sm-0" type="submit">
            <i data-feather="search"></i>
          </button>
        </form>
        
        <div class="row">
          <div class="col mx-0">
          <a class="nav-link active" href="https://kelompok-15.github.io/Web-Booking-Travel-Online/">Home</a>
          </div>
    
          <div class="col mx-0">
          <a class="nav-link" href="https://kelompok-15.github.io/Web-Booking-Travel-Online/paket-paket/paket-paket.html">Package</a>
          </div>
    
          <div class="btn-group dropleft col">
              <button type="button" class="btn btn-dark btn-outline-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i data-feather="user"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="https://kelompok-15.github.io/Web-Booking-Travel-Online/Login/register.html">Sign-Up</a>
                <a class="dropdown-item" href="https://kelompok-15.github.io/Web-Booking-Travel-Online/Login/login.html">Sign-In</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="https://kelompok-15.github.io/Web-Booking-Travel-Online/Popular%20Destination/index.html">Recommendation</a>
                <a class="dropdown-item" href="https://kelompok-15.github.io/Web-Booking-Travel-Online/About%20Us/index.html">About Us</a>
              </div>
            </div>
          </div>
        </div>
    </nav>
    <div class="contain">
        <div class="head-img">
            <img src="/charlie/article/borabora.jpg" alt="borabora" style="object-fit: cover;">
        </div>
        <div class="article">
            <img src="/charlie/article/boramap.jpg" class="map" alt="boramap">
            <h1>GUIDE TO BORA BORA</h1> <br>
            <h2>Known as ‘the Romantic Island’ Bora Bora is the destination that’s on every couple’s wish list.</h2> 
            <div class="lineHorizontal__container">
                <div class="lineHorizontal"></div>
            </div>
            <br><br><br><br>
            <p>Bora Bora is part of the Leeward Islands of French Polynesia, in the Pacific Ocean. Visitors come for its tropical climate and stay in resorts and over-water bungalows among the multiple islands of the Bora Bora island group. Many visit Bora Bora to get away from the hustle and bustle of modern life. Travel to Bora Bora and enjoy the turquoise lagoon and Mount Otemanu, the island’s highest point that’s testament to the volcanic origins of one of Polynesia’s most beautiful locations.</p>
            <br><br>
            <h3>Don't miss</h3> 
            <ul>
                <li>Explore beautiful coral gardens with Pure Snorkeling by Reef Discovery.</li> 
                <li>Head over to Anau to see manta rays.</li> 
                <li>Try hiking Mt Ohue and Mt Pahia—two of the island’s most iconic peaks.</li>
            </ul>
            <br>
            <h3>How to get there</h3>
            <p>International flights fly directly into Bora Bora Airport (also known as Motu Mute Airport) from many global hubs. There is no public transport on Bora Bora, so visitors get around by rental car, bicycle or small, two-seater buggies, which are available for hire in Vaitape, the island’s largest city and administrative center.</p>
            <br>
            <h3>Useful tips</h3>
            <ul>
                <li>The main language in French Polynesia is French. Tahitian and some English is also spoken.</li> 
                <li>Bring sunscreen, mosquito repellent and wear rashguards when you swim.</li> 
                <li>To stock up on bottled water and snacks we preferred the Super U to Chin Lees. </li>
            </ul>
            <br>
            <h4>THINGS TO DO AND TOP ATTRACTIONS IN BORA BORA</h4>
            <br>
            <img src="/charlie/article/boratour.jpg" alt="boratour">
            <h5>Cultural Island Tour</h5>
            <br>
            <h3>4X4 Cultural Island Tour by Natural Discovery</h3>
            <br>
            <p>
                Circle the island with your professional and experienced guide. Learn the island`s legends, discover the American WWII cannons, visit an ancient temple (marae), and meet a local family who will serve you fruit from their plantation. You will also visit villages where you will learn how to make your own sarong and discover the local fauna of the island.
            </p>
            <br>
            <img src="/charlie/article/borasnorkel.jpg" alt="borasnorkel">
            <h5>Shark &amp; Ray Snorkel Safari</h5>
            <br>
            <h3>Snorkeling in Bora Bora</h3>
            <br>
            <p>
                Arrive at a vibrant coral garden where you`ll have the opportunity to snorkel in clear and shallow waters. Your guide will then take you to feed the sharks and stingrays. You`ll be able to get in the water and swim with them or simply watch from the boat
            </p>
            <br>
            <img src="charlie/article/bloody.jpg" alt="bloody">
            <h5>Bloody Mary's Restaurant, Bar, Yacht Club.</h5>
            <br>
            <h3>Dinner at Bloody Mary's</h3>
            <br>
            <p>
                Experience an evening at the famous Bloody Mary`s restaurant. Often frequented by celebrities, Blood Mary`s is known for its fresh food, signature cocktails and great ambiance. You`ll enjoy the catch of the day prepared to your liking, or choose from a selection of fresh dishes including crab, shrimp, steak, chicken, and vegetarian options. 
            </p>
            <br>
            <img src="/charlie/article/borahelmet.jpg" alt="borahelmet">
            <h5>Aqua Safari</h5>
            <br>
            <h3>Bora Bora Aqua Safari with Helmet</h3>
            <br>
            <p>
                Go for a walk underwater with an air-supplied helmet and find yourself surrounded by tropical fish. This 2-hour excursion includes a boat tour of Bora Bora and snorkeling in the lagoon. This activity is not permitted for pregnant women, people with asthma, or anyone unable to walk.
            </p>
            <br>
            <img src="/charlie/article/borabungalow.jpg" alt="bungalows">
            <h5>Bora Bora bungalows</h5>
            <br>
            <h3>An Overwater Bora Bora Bungalow Paradise</h3>
            <br>
            <p>
                A peaceful haven sitting directly over the lagoon, the overwater Bora Bora bungalow concept is a can’t-miss element of Bora Bora and The Islands of Tahiti. From private island rooms to suites of floating villas, lose yourself in the colors of the lagoon framed by unforgettable sunsets. Find an overwater bungalow with a private deck for sipping your morning coffee with a stunning sunrise or your evening cocktail with a dazzling sunset. Designed and built in traditional Tahitian style, these bungalows offer direct access to the lagoon and are the perfect relaxing getaway as well as the ultimate island stay experience.
            </p>
            <br>
            <img src="/charlie/article/matira-bora-bora.webp" alt="matira">
            <h5>Matira Beach, Bora Bora</h5>
            <br>
            <h3>Matira Beach</h3>
            <br>
            <p>
                Watch the vibrant sunset over a deep blue horizon while you relax on the warm white sand of Matira Beach, one of the most popular yet secluded public beaches on the island of Bora Bora. Follow the beach until Matira Point to see an other-worldly view of rolling green bluffs and tropical plants. A wonderful place to swim, Matira Beach boasts warm, shallow waters that are perfect for a leisurely day of snorkeling. Don’t miss a carefree experience where time stands still along the azure Matira Beach shoreline during your Bora Bora vacation.
            </p>
            <br>
        </div>
    </div>
    <footer>
        <p>Contact Us Through
           <br>
           <br>
           <i data-feather="instagram" style="width: 35px; height: 35px;"></i>         
           <i data-feather="facebook" style="width: 35px; height: 35px;"></i>         
           <i data-feather="twitter" style="width: 35px; height: 35px;"></i>         
           <i data-feather="github" style="width: 35px; height: 35px;"></i>
           <br><br><br><br><br>
           Copyright &copy; 2020 by TRIVEL 
           <br>
           All Rights Reserved
        </p>
      </footer>
    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/feather-icons"></script>
    <script>
      feather.replace();
    </script>
</body>
</html>