<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trivel</title>
</head>
<body>
    <h1>Trivel</h1>
    <a href="/recommendation">Rekomendasi Wisata</a>
</body>
</html>