<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <title>Trip Kyoto</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="no3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-light d-flex justify-content-between" style="background-color: gold;">
      <a class="navbar-brand ml-5 my-2 font-italic font-weight-bold">
          <i data-feather="send"></i>TRIVEL
      </a>
      
      <form class="form-inline ml-5 my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Type to Search" aria-label="Search">
        <button class="btn btn-dark btn-outline-warning my-2 my-sm-0" type="submit">
          <i data-feather="search"></i>
        </button>
      </form>
      
      <div class="row">
        <div class="col mx-0">
        <a class="nav-link active" href="/">Home</a>
        </div>
  
        <div class="col mx-0">
        <a class="nav-link" href="/package">Package</a>
        </div>
  
        <div class="btn-group dropleft col">
            <button type="button" class="btn btn-dark btn-outline-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i data-feather="user"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/signup">Sign-Up</a>
              <a class="dropdown-item" href="/signin">Sign-In</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/recommendation">Recommendation</a>
              <a class="dropdown-item" href="/aboutus">About Us</a>
            </div>
          </div>
        </div>
      </div>
  </nav>

  <div class="jumbotron">
    <div class="container">
    <h1 class="display-4 font-weight-bold">EXPERIENCE <br> KYOTO</h1>
    <p class="lead"></p>
    <hr class="my-4">
    </div>
  </div>
<br>
  <div class="row">
    <div class="col-6">
      <pre class="para Paragraph ml-5 text-justify">
        Kyoto

        Kyoto (京都, Kyōto) served as Japan's capitaland the emperor's 
        residence from 794 until 1868.It is one of the country's ten 
        largest cities with a population of 1.5 million people and a 
        modern face.

        Over the centuries, Kyoto was destroyed by many wars and fires, 
        but due to its exceptional historic value,the city was dropped 
        from the list of target cities for the atomic bomb and escaped 
        destruction during World War II. Countlesstemples, shrines and 
        other historically priceless structures survive in the city today.


      </pre>
    </div>
    <div class="gambar ml-6">
      <img src="/gambar/kyo.jpg" alt="" width="600px" height="400px">
    </div>
  </div>
  <br>
  <section style="margin-bottom:150px">
    <div>
      <div class="container">
        <div class="col-md-12">
          <img src="/gambar/gambar1.jpg" width="440px" height="440px" class="img-fluid mx-auto d-block" alt="image">
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="col text-center">
      <h1>YOUR TRIP</h1>
  </div>

  <br>
  <br>

  <section style="margin-bottom:150px">
    <div>
      <div class="container">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header font-weight-bold">
              DAY 1
            </div>
            <div class="card-body md-3">
              <blockquote class="blockquote mb-0">
                <div class="parah">
                  <p>• Welcome to Japan ! Our Guide will be waiting you out of the baggage claim.</p>
                  <p>• The taxi driver will meet customers at the airport in time for their flight and drop them off at their hotel in Kyoto City. </p>
                  <p>• Hotel check-in and free time </p>
                  </div>
              </blockquote>
            </div>
          </div>
          <div class="card">
            <div class="card-header font-weight-bold">
              DAY 2
            </div>
            <div class="cado card-body md-3">
              <blockquote class="blockquote mb-0">
                <div class="parah">
                  <p>• Breakfast at hotel</p>
                  <p>• Visit Heian Jingu Shrine. Heian-jingu Shrineis a shinto sanctuary located north-east of Kyoto. Built in 1895, the complex pays tribute to the city that was the imperial capital of Japan during the Heian period in antiquity.</p>
                  <p>• Visit Arashiyama. Arashiyama is an area in the western suburbs of Kyoto. Initially a walk for the Imperial Court, today tourists flock there from the Togetsukyo Bridge. </p> 
              </blockquote>
            </div>
          </div>
          <div class="card">
            <div class="card-header font-weight-bold">
              DAY 3
            </div>
            <div class="cado card-body md-3">
              <blockquote class="blockquote mb-0">
                <div class="parah">
                  <p>• Breakfast at hotel  </p>
          <p>• Visit Nijo Castle. Nijo-jo is a Japanese castle located in the city center of Kyoto. Built in 1603 for Tokugawa Ieyasu, it was the residence of the first shogun of the Edo period (1603-1867).  </p>
          <p>• Visit Tôji Temple. Tôji Temple is a Japanese Buddhist temple located near Kyoto station. The temple is famous for its five-level pagoda built in 796 by Imperial decree of Emperor Saga to protect the city.   </p>
                </div>
              </blockquote>
            </div>
          </div>
          <div class="card">
            <div class="card-header font-weight-bold">
              DAY 4
            </div>
            <div class="cado card-body md-3">
              <blockquote class="blockquote mb-0">
                <div class="parah">
                  <p>• Breakfast at hotel</p>
                  <p>• Check out the hotel and free time</p>
                  <p>• Proceed to Airport and Sayonara Japan !</p>
              </div>
              </blockquote>
            </div>
          </div>
          <br>
          <a href="/package/kyoto/data"><button class="btn btn-warning btn-lg mb-5" type="submit">Book Now</button></a>
        </div>
      </div>
    </div>
  </section>
  </div>
</div>

  <footer class= "mt-4">
    <p>Contact Us Through
       <br>
       <br>
       <i data-feather="instagram" style="width: 35px; height: 35px;"></i>         
       <i data-feather="facebook" style="width: 35px; height: 35px;"></i>         
       <i data-feather="twitter" style="width: 35px; height: 35px;"></i>         
       <i data-feather="github" style="width: 35px; height: 35px;"></i>
       <br><br><br><br><br>
       Copyright &copy; 2020 by TRIVEL 
       <br>
       All Rights Reserved
    </p>
  </footer>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script> 
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
      
      <script src="https://unpkg.com/feather-icons"></script>
      <script>
          feather.replace();
      </script>
  </body>
</html>