<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maui</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/article.css">
</head>
<body>
    <nav class="navbar navbar-light d-flex justify-content-between" style="background-color: gold;">
        <a class="navbar-brand ml-5 my-2 font-italic font-weight-bold">
            <i data-feather="send"></i>TRIVEL
        </a>
        
        <form class="form-inline ml-5 my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Type to Search" aria-label="Search">
          <button class="btn btn-dark btn-outline-warning my-2 my-sm-0" type="submit">
            <i data-feather="search"></i>
          </button>
        </form>
        
        <div class="row">
          <div class="col mx-0">
          <a class="nav-link active" href="https://kelompok-15.github.io/Web-Booking-Travel-Online/">Home</a>
          </div>
    
          <div class="col mx-0">
          <a class="nav-link" href="https://kelompok-15.github.io/Web-Booking-Travel-Online/paket-paket/paket-paket.html">Package</a>
          </div>
    
          <div class="btn-group dropleft col">
              <button type="button" class="btn btn-dark btn-outline-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i data-feather="user"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="https://kelompok-15.github.io/Web-Booking-Travel-Online/Login/register.html">Sign-Up</a>
                <a class="dropdown-item" href="https://kelompok-15.github.io/Web-Booking-Travel-Online/Login/login.html">Sign-In</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="https://kelompok-15.github.io/Web-Booking-Travel-Online/Popular%20Destination/index.html">Recommendation</a>
                <a class="dropdown-item" href="https://kelompok-15.github.io/Web-Booking-Travel-Online/About%20Us/index.html">About Us</a>
              </div>
            </div>
          </div>
        </div>
    </nav>
    <div class="contain">
        <div class="head-img">
            <img src="/charlie/article/maui.jpg" alt="maui" style="object-fit: cover;">
        </div>
        <div class="article">
            <img src="/charlie/article/mapmaui.webp" class="map" alt="mauimap" >
            <h1>GUIDE TO MAUI</h1> <br>
            <h2>Within the Hawaiian-island family, Maui is radiantly beautiful, a bit rebellious, and with glamour to spare.</h2> 
            <div class="lineHorizontal__container">
                <div class="lineHorizontal"></div>
            </div>
            <br><br><br><br>
            <p>The island is blessed with great weather throughout most of the year. The dry season lasts from April to October, and the rainy season from November to March, though it rarely rains more than two or three days in a row. The temperatures hover in the 70s and 80s most of the time. The best time of year to plan your Maui trip is in the shoulder season, when the weather is best, and the tourist influx is low. Airfare and hotel rates are lowest between Labor Day and Thanksgiving, while peak season runs between December and March, as well as in the summer, when many families come to Hawaii.</p>
            <br><br>
            <h3>Don't miss</h3> 
            <ul>
                <li>Maui has more swimmable beaches than any of the other Hawaiian Islands.</li> 
                <li>Whale watching “season” in Maui usually runs mid-December to mid-April.</li> 
                <li>The Maui Swap Meet is held every Saturday</li>
            </ul>
            <br>
            <h3>How to get there</h3>
            <p>Kahului Airport (OGG) is the Maui’s main airport. There are two smaller commuter airports as well: Kapalua Airport (JHM) in West Maui and Hana Airport (HNM) in East Maui. Many airlines offer non-stop flights direct to Maui. You may also fly into Honolulu International Airport (HNL) on Oahu before heading to Maui on a short, 30-minute flight. There is also daily ferry service to and from the nearby island of Lanai.</p>
            <br>
            <h3>Useful tips</h3>
            <ul>
                <li>It's warm in Hawaii, so pack your summer attire.</li> 
                <li>Hawaii’s currency is the U.S. dollar.</li> 
                <li>You can get around Maui by shuttle, tour bus, taxi, or public transportation. </li>
            </ul>
            <br>
            <h4>THINGS TO DO AND TOP ATTRACTIONS IN MAUI</h4>
            <br>
            <img src="/charlie/article/makena.jpg" alt="makena">
            <h5>Kihei & Wailea (South Maui) Region</h5>
            <br>
            <h3>Makena 'Big' Beach</h3>
            <br>
            <p>
                Also known as Oneloa Beach (its true Hawaiian name) or Makena Beach*, Big Beach is probably one of the prettiest beaches on Maui, and certainly south Maui. It is nearly 2/3 mile long and over 100 feet wide. The gorgeous sand and pristine waters attract snorkelers, swimmers, and sunbathers.This beach, like many, closes in the evenings and the gate is locked. Makena Beach is accessible via a short road at mile marker 4 on Makena Alanui Road and another access just past mile marker 4 in South Maui. Big Beach is connected on the right by a small path over the hill and lava to Little Beach, which is a favorite spot for sunbathers.
            </p>
            <br>
            <img src="/charlie/article/haleakala.jpg" alt="haleakala">
            <h5>Haleakala National Park, Maui</h5>
            <br>
            <h3>Home to the highest peak on Maui,Haleakala National Park</h3>
            <br>
            <p>
                To say Haleakala National Park is impressive would do it a great injustice. Spanning a huge swath of land across Maui’s southeastern region, Haleakala is home to the highest peak on Maui, at 10,023 feet. If that weren’t enough, it also holds the world record for climbing to the highest elevation in the shortest distance- a mere 38 miles! And not only is it one of the most popular sights in Hawaii, it’s also home to five distinctly different climate zones, breathtaking sunrises and sunsets, stunning views, otherworldly landscapes, and flora and fauna that are found nowhere else in the world. Haleakala encompasses over 30,000 acres which can be generally thought of as three distinct areas; two of which are very popular with visitors. 
            </p>
            <br>
            <img src="/charlie/article/pipiwai.jpeg" alt="pipiwai">
            <h5>Pipiwai Trail, Maui</h5>
            <br>
            <h3>Hana Highway Bamboo Trail</h3>
            <br>
            <p>
                The Pipiwai Trail- with its stunning waterfalls, huge bamboo forest, idyllic stream, and more beauty than you can imagine- is simply one of the best hikes on Maui. Located above the Oheo Gulch (Seven Sacred Pools), Pipiwai Trail is 4 miles roundtrip and gains 650 ft. of elevation. It takes anywhere from 2 1/2 - 5 hours to hike; depending how much nature loving you do. There are several great waterfalls along the route; the destination being Waimoku Falls, which drops 400 ft. down a sheer lava rock wall shaped like a horseshoe. If it's been wet in the area recently, you may find yourself surrounded by numerous small waterfalls on the surrounding cliff face. This is an absolutely beautiful falls and well worth the hike to access.
            </p>
            <br>
            <img src="/charlie/article/ahihi.jpg" alt="ahihi">
            <h5>‘AHIHI KINA’U NATURAL AREA RESERVE</h5>
            <br>
            <h3>Ahihi Bay</h3>
            <br>
            <p>
                This protected bay makes it a haven for fish of all kinds and an excellent spot for snorkeling, but the area has become another victim of popular guidebooks. Ahihi Kina'u is actually a natural area reserve, not a recreational park. Many of the hikes are over treacherous, barren, hot and remote a'a lava and through sensitive land of historical and ecological nature. As a result there has been a lot of damage to archaeological sites. The fragile anchialine pools, home to unique species of brine shrimp endemic to Maui, have been threatened by visitors who have actually swam in them, leaving behind their sunscreen on the water. The bay is relatively shallow, less than 15 feet, or about 100 feet from shore. The bay gradually gets deeper, but not more than about 25 or 35 feet.
            </p>
            <br>
            <img src="/charlie/article/lahaina.jpg" alt="lahaina">
            <h5>Lahaina Town, West Maui</h5>
            <br>
            <h3>Lahaina Town in West Maui</h3>
            <br>
            <p>
                One of Hawaii's most historic towns is also one of the most eclectic... and it is most certainly uniquely Maui. No trip to The Valley Isle would be complete without a visit to the port town of Lahaina to stroll the art galleries, restaurants, souvenir shops, and historic gems sprinkled all throughout the bustling town. Lahaina is most definitely a Maui must see. The main drag is Front Street which you can get to by turning left just before mile marker 20 on Honoapi'ilani Hwy. A few of the many sights in Lahaina include the gigantic banyan tree which literally takes up an entire city block, the historic Baldwin House, the old courthouse, and the old prison. Note that if you're looking for free parking, you may be disappointed. However, if you're willing to pay (and avoid being ticketed) there are a number of parking lots around town.
            </p>
            <br>
            <img src="/charlie/article/panapa.jpg" alt="panapa">
            <h5>WAIANAPANAPA STATE PARK </h5>
            <br>
            <h3>WAIANAPANAPA STATE PARK</h3>
            <br>
            <p>
                Getting ever so closer to Hana Town we have one last major stop at mile marker 32 on the Road to Hana. On the makai side of the highway, you should see a gravel road leading down to Wai'anapanapa State Park. There should also be a road sign informing you of the location. Head down the road and look for the main parking area (to the left), near the cabins. From here a trail will lead you down to Honokalani black sand beach, located in Pa'iloa Bay. Swimming is dangerous and should be avoided here. The beach is open to the ocean with no outside reef to break the force of the waves and current. You will see many warning signs in place because of this. Once you're on the beach, you might be interested in exploring the cave opening off to your right. Though narrow at the entrance, it widens inside and takes you an open view of the ocean at the other end.
            </p>
            <br>
        </div>
    </div>
    <footer>
        <p>Contact Us Through
           <br>
           <br>
           <i data-feather="instagram" style="width: 35px; height: 35px;"></i>         
           <i data-feather="facebook" style="width: 35px; height: 35px;"></i>         
           <i data-feather="twitter" style="width: 35px; height: 35px;"></i>         
           <i data-feather="github" style="width: 35px; height: 35px;"></i>
           <br><br><br><br><br>
           Copyright &copy; 2020 by TRIVEL 
           <br>
           All Rights Reserved
        </p>
      </footer>
    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/feather-icons"></script>
    <script>
      feather.replace();
    </script>
</body>
</html>