<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <title>Trip Melbourne</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="no8.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-light d-flex justify-content-between" style="background-color: gold;">
      <a class="navbar-brand ml-5 my-2 font-italic font-weight-bold">
          <i data-feather="send"></i>TRIVEL
      </a>
      
      <form class="form-inline ml-5 my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Type to Search" aria-label="Search">
        <button class="btn btn-dark btn-outline-warning my-2 my-sm-0" type="submit">
          <i data-feather="search"></i>
        </button>
      </form>
      
      <div class="row">
        <div class="col mx-0">
        <a class="nav-link active" href="/">Home</a>
        </div>
  
        <div class="col mx-0">
        <a class="nav-link" href="/package">Package</a>
        </div>
  
        <div class="btn-group dropleft col">
            <button type="button" class="btn btn-dark btn-outline-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i data-feather="user"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/signup">Sign-Up</a>
              <a class="dropdown-item" href="/signin">Sign-In</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/recommendation">Recommendation</a>
              <a class="dropdown-item" href="/aboutus">About Us</a>
            </div>
          </div>
        </div>
      </div>
  </nav>

  <div class="jumbotron">
    <div class="container">
    <h1 class="display-4 font-weight-bold">EXPERIENCE <br> MELBOURNE</h1>
    <p class="lead"></p>
    <hr class="my-4">
    </div>
  </div>
<br>
  <div class="row">
    <div class="col-6">
      <pre class="para Paragraph ml-5 text-justify">
        Melbourne

        Melbourne is the capital city of Victoria, and Australia’s second-largest 
        city. Focused around a central city, Greater Melbourne’s area of 
        approximately 9900 km² of suburbs spread more than 40 km to the 
        south, 30 km to the east, 20 km to the north and sprawl across vast, 
        flat basalt plains to the west.

        The municipality of Melbourne includes metropolitan Melbourne’s 
        innermost suburbs, including the central city. Our municipality 
        is around 37 km² and shares its borders with seven other councils. 
        The municipality of Melbourne is the gateway to Victoria, the seat 
        of the Victorian Government and the headquarters of many local, 
        national and international companies, peak bodies, and government 
        and non-government agencies.
      </pre>
    </div>
    <div class="gambar ml-6">
      <img src="/gambar/mel.jpg" alt="" width="600px" height="400px">
    </div>
  </div>
  <br>
  <section style="margin-bottom:150px">
    <div>
      <div class="container">
        <div class="col-md-12">
          <img src="/gambar/gambar4.jpg" width="440px" height="440px" class="img-fluid mx-auto d-block" alt="image">
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="col text-center">
      <h1>YOUR TRIP</h1>
  </div>

  <br>
  <br>

  <section style="margin-bottom:150px">
    <div>
      <div class="container">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header font-weight-bold">
              DAY 1
            </div>
            <div class="card-body md-3">
              <blockquote class="blockquote mb-0">
                <div class="parah">
                  <p>• The taxi driver will meet customers at the airport 
                    in time for their flight and drop them off at their hotel . </p>
                  <p>• Hotel check-in </p>
              </blockquote>
            </div>
          </div>
          <div class="card">
            <div class="card-header font-weight-bold">
              DAY 2
            </div>
            <div class="cado card-body md-3">
              <blockquote class="blockquote mb-0">
                <div class="parah">
                  <p>• Breakfast at hotel</p>
                  <p>• Visit The National Gallery of Victoria. 
                    The National Gallery of Victoria is Australia's 
                    oldest art gallery, with a large collection of 
                    national and international art.
                  </p>
                  <p>• Visit Queen Victoria Market.
                    Queen Victoria Market is a foodie paradise 
                    offering plenty of street food and a variety of local produce.
                  </p>
                  <p>• The St Kilda area, with its night markets and 
                      historic beaches, is the ideal place to spend an afternoon.
                  </p>
                
              </blockquote>
            </div>
          </div>
          <div class="card">
            <div class="card-header font-weight-bold">
              DAY 3
            </div>
            <div class="cado card-body md-3">
              <blockquote class="blockquote mb-0">
                <div class="parah">
                  <p>• Breakfast at hotel  </p>
                  <p>• Visit Phillip Island. Phillip Island has a famous little penguin colony.</p>
                  <p>• Melbourne is known for street art. Explore the small streets of this colorful city.</p>
                </div>
              </blockquote>
            </div>
          </div>
          <div class="card">
            <div class="card-header font-weight-bold">
              DAY 4
            </div>
            <div class="cado card-body md-3">
              <blockquote class="blockquote mb-0">
                <div class="parah">
                  <p>• Breakfast at hotel</p>
                  <p>• Visit various coffee shops that offer a variety of flavors and nuances.</p>
                  <p>• Free time</p>
                  <p>• Proceed to Airport !</p>
              </div>
              </blockquote>
            </div>
          </div>
          <br>
          <a href="/package/melbourne/data"><button class="btn btn-warning btn-lg mb-5" type="submit">Book Now</button></a>
        </div>
      </div>
    </div>
  </section>
</div>
</div>

  <footer class= "mt-4">
    <p>Contact Us Through
       <br>
       <br>
       <i data-feather="instagram" style="width: 35px; height: 35px;"></i>         
       <i data-feather="facebook" style="width: 35px; height: 35px;"></i>         
       <i data-feather="twitter" style="width: 35px; height: 35px;"></i>         
       <i data-feather="github" style="width: 35px; height: 35px;"></i>
       <br><br><br><br><br>
       Copyright &copy; 2020 by TRIVEL 
       <br>
       All Rights Reserved
    </p>
  </footer>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script> 
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
      
      <script src="https://unpkg.com/feather-icons"></script>
      <script>
          feather.replace();
      </script>

  </body>
</html>