<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <title>Trip Osaka</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/CSSSS/no2.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <style>
    body {
        background-color: white;
        background-image: url(img/tree.png);
    }                       
    
    .feather{
        width: 20px;
        height: 20px;
        margin-bottom: 2.5px;
    }
  
    footer {
        text-align: center;
        padding-top: 60px;
        padding-bottom: 80px;
        background-color:black;
        color: gold;
     }
  </style>
  
  <body>
    <nav class="navbar navbar-light d-flex justify-content-between" style="background-color: gold;">
      <a class="navbar-brand ml-5 my-2 font-italic font-weight-bold">
          <i data-feather="send"></i>TRIVEL
      </a>
      
      <form class="form-inline ml-5 my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Type to Search" aria-label="Search">
        <button class="btn btn-dark btn-outline-warning my-2 my-sm-0" type="submit">
          <i data-feather="search"></i>
        </button>
      </form>
      
      <div class="row">
        <div class="col mx-0">
        <a class="nav-link active" href="https://kelompok-15.github.io/Web-Booking-Travel-Online/">Home</a>
        </div>
  
        <div class="col mx-0">
        <a class="nav-link" href="https://kelompok-15.github.io/Web-Booking-Travel-Online/paket-paket/paket-paket.html">Package</a>
        </div>
  
        <div class="btn-group dropleft col">
            <button type="button" class="btn btn-dark btn-outline-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i data-feather="user"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="https://kelompok-15.github.io/Web-Booking-Travel-Online/Login/register.html">Sign-Up</a>
              <a class="dropdown-item" href="https://kelompok-15.github.io/Web-Booking-Travel-Online/Login/login.html">Sign-In</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="https://kelompok-15.github.io/Web-Booking-Travel-Online/Popular%20Destination/index.html">Recommendation</a>
              <a class="dropdown-item" href="https://kelompok-15.github.io/Web-Booking-Travel-Online/About%20Us/index.html">About Us</a>
            </div>
          </div>
        </div>
      </div>
  </nav>

  <div class="jumbotron">
    <div class="container">
    <h1 class="display-4 font-weight-bold">EXPERIENCE <br> OSAKA</h1>
    <p class="lead"></p>
    <hr class="my-4">
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <pre class="para Paragraph ml-5 text-justify">
        Osaka

        Osaka (大阪, Ōsaka) is Japan's second largest metropolitan area after 
        Tokyo. It has been the economic powerhouse of the Kansai Region for 
        many centuries. Osaka was formerly known as Naniwa. Before the Nara 
        Period, when the capital used to be moved with the reign of each 
        new emperor,Naniwa was once Japan's capital city the first one ever 
        known.

        In the 16th century, Toyotomi Hideyoshi chose Osaka as the location 
        for his castle, and the city may have become Japan's politicalcapital 
        if Tokugawa Ieyasu had not terminated the Toyotomi lineage after 
        Hideyoshi's death and moved his government to distant Edo (Tokyo).

      </pre>
    </div>
    <div class="gambar ml-6">
      <img src="/gambar/osakaz.jpg" alt="" width="600px" height="400px">
    </div>
  </div>
  <br>
  <section style="margin-bottom:150px">
    <div>
      <div class="container">
        <div class="col-md-12">
          <img src="/gambar/gambar1.jpg" width="440px" height="440px" class="img-fluid mx-auto d-block" alt="image">
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="col text-center">
      <h1>YOUR TRIP</h1>
  </div>

  <br>
  <br>

  <section style="margin-bottom:150px">
    <div>
      <div class="container">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header font-weight-bold">
              DAY 1
            </div>
            <div class="card-body md-3">
              <blockquote class="blockquote mb-0">
                <div class="parah">
                  <p>• Welcome to Japan ! Our Guide will be waiting you out of the baggage claim.</p>
                  <p>• The taxi driver will meet customers at the airport in time for their flight and drop them off at their hotel in Kyoto City. </p>
                  <p>• Hotel check-in and free time </p>
                  </div>
              </blockquote>
            </div>
          </div>
          <div class="card">
            <div class="card-header font-weight-bold">
              DAY 2
            </div>
            <div class="cado card-body md-3">
              <blockquote class="blockquote mb-0">
                <div class="parah">
                  <p>• Breakfast at hotel</p>
                  <p>• Visit Universal Studios Japan. Universal Studios Japan is a theme park with a collection of facilities and 
                    rides based on famous Hollywood movies. In recent years, it has expanded to include some of the most popular
                    Japanese entertainment as well.</p>
                  <p>• Visit Osaka Castle. Osaka Castle towers over the city of Osaka. It is one of Japan’s Three Most Famous Castles.
                    Erected in 1583 by Hideyoshi Toyotomi, the ruler who unified Japan, it was then destroyed by a fire and was repeatedly repaired. </p> 
              </blockquote>
            </div>
          </div>
          <div class="card">
            <div class="card-header font-weight-bold">
              DAY 3
            </div>
            <div class="cado card-body md-3">
              <blockquote class="blockquote mb-0">
                <div class="parah">
                  <p>• Breakfast at hotel  </p>
                  <p>• Visit Dotonbori. It is best known for the large billboards that are 
                    on display in rows. Photogenic billboards are located everywhere throughout the shopping district.</p>
                  <p>• Visit Tsutenkaku and Shinsekai. Tsutenkaku, also considered the symbol of Osaka, is a 103-meter 
                    tall observation tower that offers a complete view of Osaka's cityscape. The Billiken statue, 
                    located on the fifth-floor observation deck, is said to bring happiness if you rub the soles of 
                    his feet, resulting in constant lines of people who want to do this. </p>
                </div>
              </blockquote>
            </div>
          </div>
          <div class="card">
            <div class="card-header font-weight-bold">
              DAY 4
            </div>
            <div class="cado card-body md-3">
              <blockquote class="blockquote mb-0">
                <div class="parah">
                  <p>• Breakfast at hotel</p>
                  <p>• Check out the hotel and free time</p>
                  <p>• Proceed to Airport and Sayonara Japan !</p>
              </div>
              </blockquote>
            </div>
          </div>
          <br>
          <a href="/package/osaka/data"><button class="btn btn-warning btn-lg mb-5" type="submit">Book Now</button></a>
        </div>
      </div>
    </div>
  </section>
  </div>
</div>




  <footer class= "mt-4">
    <p>Contact Us Through
       <br>
       <br>
       <i data-feather="instagram" style="width: 35px; height: 35px;"></i>         
       <i data-feather="facebook" style="width: 35px; height: 35px;"></i>         
       <i data-feather="twitter" style="width: 35px; height: 35px;"></i>         
       <i data-feather="github" style="width: 35px; height: 35px;"></i>
       <br><br><br><br><br>
       Copyright &copy; 2020 by TRIVEL 
       <br>
       All Rights Reserved
    </p>
  </footer>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script> 
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
      
      <script src="https://unpkg.com/feather-icons"></script>
      <script>
          feather.replace();
      </script>
  </body>
</html>