<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raja Ampat</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/article.css">
</head>
<body>
    <nav class="navbar navbar-light d-flex justify-content-between" style="background-color: gold;">
        <a class="navbar-brand ml-5 my-2 font-italic font-weight-bold">
            <i data-feather="send"></i>TRIVEL
        </a>
        
        <form class="form-inline ml-5 my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Type to Search" aria-label="Search">
          <button class="btn btn-dark btn-outline-warning my-2 my-sm-0" type="submit">
            <i data-feather="search"></i>
          </button>
        </form>
        
        <div class="row">
          <div class="col mx-0">
          <a class="nav-link active" href="/">Home</a>
          </div>
    
          <div class="col mx-0">
          <a class="nav-link" href="/package">Package</a>
          </div>
    
          <div class="btn-group dropleft col">
              <button type="button" class="btn btn-dark btn-outline-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i data-feather="user"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <% if (locals.user) { %>
                  <div class="dropdown-item">Hi <%=user%>!</div>
                  <a class="dropdown-item" href="/recommendation">Recommendation</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/aboutus">About Us</a>
                  <a class="dropdown-item" href="/logout">Logout</a>
                <% } else { %>
                  <a class="dropdown-item" href="/signup">Sign-Up</a>
                  <a class="dropdown-item" href="/signin">Sign-In</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/recommendation">Recommendation</a>
                  <a class="dropdown-item" href="/aboutus">About Us</a>
                <% } %>
              </div>
            </div>
          </div>
        </div>
    </nav>
    <div class="contain">
        <div class="head-img">
            <img src="/charlie/article/rajaampat.jpg" alt="rajaampat" style="object-fit: cover;">
        </div>
        <div class="article">
            <img src="/charlie/article/rajamap.png" class="map" alt="rajamap" >
            <h1>GUIDE TO RAJA AMPAT</h1> <br>
            <h2>Raja Ampat is the epitome of paradise for snorkellers, divers, and nature lovers alike.</h2> 
            <div class="lineHorizontal__container">
                <div class="lineHorizontal"></div>
            </div>
            <br><br><br><br>
            <p>Located off the northwest tip of Bird's Head Peninsula on the island of New Guinea, in Indonesia's West Papua province, Raja Ampat, or the Four Kings, is an archipelago comprising over 1,500 small islands, cays, and shoals surrounding the four main islands of Misool, Salawati, Batanta, and Waigeo, and the smaller island of Kofiau. The Raja Ampat archipelago straddles the Equator and forms part of Coral Triangle which contains the richest marine biodiversity on earth. Administratively, the archipelago is part of the province of West Papua (formerly known as Irian Jaya). Most of the islands constitute the Raja Ampat Regency, which was separated out from Sorong Regency in 2004. The regency encompasses around 70,000 square kilometres (27,000 sq mi) of land and sea, of which 7,559.6 km2 constitutes the land area and has a population of 47,885 (as of 2018). This excludes the southern half of Salawati Island, which is not part of this regency but instead constitutes the Salawati Selatan District of Sorong Regency.</p>
            <br><br>
            <h3>Don't miss</h3> 
            <ul>
                <li>Take a Diving Course</li> 
                <li>Observe wildlife in the forest</li> 
                <li>Swim with marine creatures</li>
            </ul>
            <br>
            <h3>How to get there</h3>
            <p>To get to Raja Ampat you should first take a flight from Jakarta or Makassar to Sorong. There are small aircraft to take you to Waisai, the capital of the district of Raja Ampat, or alternatively, you can take a ferry from the port of Sorong to the islands.</p>
            <br>
            <h3>Useful tips</h3>
            <ul>
                <li>Organise the Indonesian Rupiah you’ll need before you get to Sorong.</li> 
                <li>Get your Raja Ampat Marine Park entry permit and Visitor Entry Ticket.</li> 
                <li>Visit a local visitor information centre for more detailed info on the area.</li>
            </ul>
            <br>
            <h4>THINGS TO DO AND TOP ATTRACTIONS IN RAJA AMPAT</h4>
            <br> <!-- Here -->
            <img src="/charlie/article/pianemo.jpg" alt="pianemo">
            <h5>Sunset in Pianemo, Raja Ampat | &#169; Vaclav Sebek / Shutterstock</h5>
            <br>
            <h3>Sightseeing and more at Pianemo Island</h3>
            <br>
            <p>
                Small islands scattered in clear blue ocean is what most likely comes to mind when avid travelers hear the name Raja Ampat. Pianemo Island has a viewing deck on a hilltop, granting unrestricted views over the sea and islands. Although the scenery is enough reason to visit Pianemo Island, cliff jumping into the turquoise lagoon between the small islands and swimming in its crystal clear water are other awesome activities you can enjoy here.
            </p>
            <br>
            <img src="/charlie/article/ampatdive.jpg" alt="diving">
            <h5>Diving at Raja Ampat &#169; Lakshmi Sawitri/Flickr</h5>
            <br>
            <h3>Take a Dive Course</h3>
            <br>
            <p>
                Whether you’re an advanced diver or an absolute beginner, taking diving courses in Raja Ampat is an opportunity not to be missed. You’ll have Raja Ampat’s staggering underwater landscape as your training ground and go home with a legit certificate. PADI and SSI, the two largest scuba diver certification companies in the world, have set up camp in this diving paradise, so you’ll be in good hands. Plus, taking a course will help you appreciate Raja Ampat’s unparalleled underwater beauty better.
            </p>
            <br>
            <img src="/charlie/article/ampatforest.jpg" alt="ampatforest">
            <h5>Raja Ampat’s lush forest  &#169; Silke Baron/Flickr</h5>
            <br>
            <h3>Observe wildlife in the forest</h3>
            <br>
            <p>
                Not that you’ll ever get enough of the water adventures in Raja Ampat, but the land of its many islands also offer wonderful scenery and encounters with wildlife. Pristine Raja Ampat is home to many endemic species, including rare plants and exotic birds. The main highlight of bird watching in the forests of Raja Ampat is the exquisite birds of paradise.
            </p>
            <br>
            <img src="/charlie/article/ampatsunset.jpg" alt="ampatsunset">
            <h5>Sunset in Raja Ampat  &#169; Tony Shih / Flickr</h5>
            <br>
            <h3>Don’t miss a single sunset (or sunrise!)</h3>
            <br>
            <p>
                There are many different spots from which to watch the sun set or rise. Hike up to a hill, chill by your lodge or sit on the smooth white sands and wait for the sun to burst into many shades of red and orange. A good reason to skip the snooze button on Raja Ampat and get up early.
            </p>
            <br>
            <img src="/charlie/article/wayang.jpg" alt="wayang">
            <h5>Wayag archipelago | &#169; Elias Levy/Flickr</h5>
            <br>
            <h3>See the Wayag Archipelago</h3>
            <br>
            <p>
                The islands of Wayag, within the Raja Ampat archipelago, come with raw natural beauty. Many consider Wayag the most beautiful place in Raja Ampat. It’s dense with picturesque karst formations, including some big protrusions that can be hiked up for sweeping views of the stunning islands. The green of the islands meets the tranquil blue and emerald water, underneath the surface of which colorful fish swim through beautiful coral reefs.
            </p>
            <br>
            <img src="/charlie/article/wayangswim.jpg" alt="wayangswim">
            <h5>Diving in Raja Ampat | &#169; Ratha Grimes/Flickr </h5>
            <br>
            <h3>Swim with marine creatures</h3>
            <br>
            <p>
                The people of Papua highly respect their marine wildlife, enabling a peaceful and productive co-existence that tourists can also enjoy. On Misool Island and Manta Ridge you are almost guaranteed an encounter with dolphins, among other fish. Sea turtles are somewhat more common, and a deeper dive will allow you to see many manta rays.
            </p>
            <br>
            <img src="/charlie/article/ampatlagoon.jpg" alt="lagoon">
            <h5>Star-shaped lagoon between small islands at Raja Ampat &#169; Max Mossler/Flick </h5>
            <br>
            <h3>Wander the villages</h3>
            <br>
            <p>
                Don’t leave the islands before walking through the villages and meeting the friendly locals. Their lifestyle is humble, and the people are cheerful. You may find children playing traditional games, a group singing traditional songs and dancing, or local artists working on their crafts.
            </p>
        </div>
    </div>
    <footer>
        <p>Contact Us Through
           <br>
           <br>
           <i data-feather="instagram" style="width: 35px; height: 35px;"></i>         
           <i data-feather="facebook" style="width: 35px; height: 35px;"></i>         
           <i data-feather="twitter" style="width: 35px; height: 35px;"></i>         
           <i data-feather="github" style="width: 35px; height: 35px;"></i>
           <br><br><br><br><br>
           Copyright &copy; 2020 by TRIVEL 
           <br>
           All Rights Reserved
        </p>
      </footer>
    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/feather-icons"></script>
    <script>
      feather.replace();
    </script>
</body>
</html>