<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIVEL | Top 10 Destination</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    
    <style>
        footer {
            text-align: center;
            padding-top: 60px;
            padding-bottom: 80px;
            background-color:black;
            color:gold;
        }

    </style>
</head>
<body>
    <nav class="navbar navbar-light d-flex justify-content-between" style="background-color: gold;">
        <a class="navbar-brand ml-5 my-2 font-italic font-weight-bold">
            <i data-feather="send"></i>TRIVEL
        </a>
        
        <form class="form-inline ml-5 my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Type to Search" aria-label="Search">
          <button class="btn btn-dark btn-outline-warning my-2 my-sm-0" type="submit">
            <i data-feather="search"></i>
          </button>
        </form>
        
        <div class="row">
          <div class="col mx-0">
          <a class="nav-link active" href="https://kelompok-15.github.io/Web-Booking-Travel-Online/">Home</a>
          </div>
    
          <div class="col mx-0">
          <a class="nav-link" href="https://kelompok-15.github.io/Web-Booking-Travel-Online/paket-paket/paket-paket.html">Package</a>
          </div>
    
          <div class="btn-group dropleft col">
              <button type="button" class="btn btn-dark btn-outline-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i data-feather="user"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="https://kelompok-15.github.io/Web-Booking-Travel-Online/Login/register.html">Sign-Up</a>
                <a class="dropdown-item" href="https://kelompok-15.github.io/Web-Booking-Travel-Online/Login/login.html">Sign-In</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="https://kelompok-15.github.io/Web-Booking-Travel-Online/Popular%20Destination/index.html">Recommendation</a>
                <a class="dropdown-item" href="https://kelompok-15.github.io/Web-Booking-Travel-Online/About%20Us/index.html">About Us</a>
              </div>
            </div>
          </div>
        </div>
    </nav>
    <div class="contain">
        <img class ="center-fit" src="/images/buthan.jpg" alt="buthan"> 
        <div class="head">
            <h1 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 10vw; font-weight: bolder; line-height: 220%; margin-top: auto;">Top 10  Countries</h1>
            <h2 style="font-family:'Times New Roman', Times, serif; font-style: italic; margin-top: -12%; padding-bottom: 5%;">The best destinations, journeys &amp; sustainable travel experiences for the year ahead</h2>
        </div>
    </div>
    <br><br>
    <h1 style="padding-left: 10px; font-size: 26pt; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Top 10 Destination</h1>
    <br>
    
    <div class="row no-gutters">
        <div class="col">
            <div class="contain">
                <img src="/images/sydney.jpg" alt="sydney" class="img"> 
                <div class="centered">Sydney</div>  
                <div class="overlay">
                    <div class="text">
                        <a href="sydney.html" class="lay" target="_blank">Explore Now</a>
                    </div>
                </div>            
            </div>
        </div>
        <div class="col">
            <div class="contain">
                <img src="/images/borabora.jpg" alt="borabora" class="img">
                <div class="centered">Bora Bora</div>
                <div class="overlay">
                    <div class="text">
                        <a href="bora.html" class="lay" target="_blank">Explore Now</a>
                    </div>
                </div>  
            </div>
        </div>
        <div class="col">
            <div class="contain">
                <img src="/images/maui.jpg" alt="maui" class="img">
                <div class="centered">Maui</div>
                <div class="overlay">
                    <div class="text">
                        <a href="maui.html" class="lay" target="_blank">Explore Now</a>
                    </div>
                </div>  
            </div>         
        </div>
        <div class="col">
            <div class="contain">
                <img src="/images/rajaampat.jpg" alt="rajaampat" class="img">
                <div class="centered">Raja Ampat</div>
                <div class="overlay">
                    <div class="text">
                        <a href="rajaampat.html" class="lay" target="_blank">Explore Now</a>
                    </div>
                </div>  
            </div>          
        </div>
        <div class="col">
            <div class="contain">
                <img src="/images/paris.jpg" alt="paris" class="img">
                <div class="centered">Paris</div>
                <div class="overlay">
                    <div class="text">
                        <a href="paris.html" class="lay" target="_blank">Explore Now</a>
                    </div>
                </div>  
            </div>           
        </div>
    </div>
    <br>
    <div class="row no-gutters">
        <div class="col">
            <div class="contain">
                <img src="/images/montana.jpg" alt="montana" class="img">
                <div class="centered">Montana</div>
                <div class="overlay">
                    <div class="text">
                        <a href="montana.html" class="lay" target="_blank">Explore Now</a>
                    </div>
                </div>  
            </div>           
        </div>
        <div class="col">
            <div class="contain">
                <img src="/images/seoul.jpg" alt="seoul" class="img">
                <div class="centered">Seoul</div>
                <div class="overlay">
                    <div class="text">
                        <a href="seoul.html" class="lay" target="_blank">Explore Now</a>
                    </div>
                </div>  
            </div>        
        </div>
        <div class="col">
            <div class="contain">
                <img src="/images/swiss.jpeg" alt="swiss" class="img">
                <div class="centered">Swiss</div>
                <div class="overlay">
                    <div class="text">
                        <a href="swiss.html" class="lay" target="_blank">Explore Now</a>
                    </div>
                </div>  
            </div>
        </div>
        <div class="col">
            <div class="contain">
                <img src="/images/tokyo.jpg" alt="tokyo" class="img">
                <div class="centered">Tokyo</div>
                <div class="overlay">
                    <div class="text">
                        <a href="tokyo.html" class="lay" target="_blank">Explore Now</a>
                    </div>
                </div>  
            </div>
        </div>
        <div class="col">
            <div class="contain">
                <img src="/images/budapest.jpg" alt="budapest" class="img">
                <div class="centered">Budapest</div>
                <div class="overlay">
                    <div class="text">
                        <a href="budapest.html" class="lay" target="_blank">Explore Now</a>
                    </div>
                </div>  
            </div>
        </div>
    </div> 
    <br><br>
    <footer>
        <p>Contact Us Through
           <br>
           <br>
           <i data-feather="instagram" style="width: 35px; height: 35px;"></i>         
           <i data-feather="facebook" style="width: 35px; height: 35px;"></i>         
           <i data-feather="twitter" style="width: 35px; height: 35px;"></i>         
           <i data-feather="github" style="width: 35px; height: 35px;"></i>
           <br><br><br><br><br>
           Copyright &copy; 2020 by TRIVEL 
           <br>
           All Rights Reserved
        </p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/feather-icons"></script>
    <script>
      feather.replace();
    </script>
</body>
</html>
