<!doctype html>
<html lang="en">
  <head>

     <!-- Required meta tags -->
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
     <link rel="stylesheet" type="text/css" href="/css/login.css">
     <link rel="stylesheet" type="text/css" href="image/email-24px.svg">

</head>

      <title>TRIVEL | Official Website</title>

  <body>

    <div class="login-box">
      <img src="/image/user.png" class="user">
        <h1>Login</h1>
          <form method="POST" action="/signin/login">
            <p>Email</p>
              <input type="text" class="input-field f"  name="email" required>
                <p>Password</p>
                  <input type="password" class="input-field form-control" name="password" required>
                    <p></p>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Remember Me</label>
          </div>
          <h4></h4>
            <input type="submit" name="submit" value="Sign In">
            <% if (locals.error) { %>
              <span class="text-danger pl-2" style="font-size: 2.2vh;"><%= error %></span>
            <% } %>
            <hr>
                <a class="dropdown-item"  href="/signup">New around here? Sign Up</a>
             </form>
          </div>

    </body>
</html>
