<!doctype html>
<html lang="en">
  <head>

    <title>TRIVEL | Official Website</title>
    <link rel="stylesheet" type="text/css" href="/css/register.css">

</head>
  <body>
    <div class="login-box bg-light">
        <img src="/public/image/user.png" class="user">
        <h3>Register</h3>
        <form>
          <p>Full Name</p>
          <input type="text" class="input-field" required>
          <p>Phone Number</p>
          <input type="angka" class="input-field form-control" placeholder="example: 0812xxxxxxxx" required>
          <p>Email</p>
          <input type="text" class="input-field form-control" placeholder="example@gmail.com" required>
          <p>Password</p>
          <input type="password" class="input-field form-control" required> 
          <p></p>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">I Agree With The <a href="#" class="alert-link">Terms</a>
                <label class="form-check-label" for="exampleCheck1">and <a href="#" class="alert-link">Conditions</a>
             </label>
            </div>
            <p></p>
            <input type="submit" name="submit" value="OK">
        </form>
    </div>

  </body>
</html>