<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sydney</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/article.css">
</head>
<body>
    <nav class="navbar navbar-light d-flex justify-content-between" style="background-color: gold;">
        <a class="navbar-brand ml-5 my-2 font-italic font-weight-bold">
            <i data-feather="send"></i>TRIVEL
        </a>
        
        <form class="form-inline ml-5 my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Type to Search" aria-label="Search">
          <button class="btn btn-dark btn-outline-warning my-2 my-sm-0" type="submit">
            <i data-feather="search"></i>
          </button>
        </form>
        
        <div class="row">
          <div class="col mx-0">
          <a class="nav-link active" href="/">Home</a>
          </div>
    
          <div class="col mx-0">
          <a class="nav-link" href="/package">Package</a>
          </div>
    
          <div class="btn-group dropleft col">
              <button type="button" class="btn btn-dark btn-outline-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i data-feather="user"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/signup">Sign-Up</a>
                <a class="dropdown-item" href="/signin">Sign-In</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/recommendation">Recommendation</a>
                <a class="dropdown-item" href="/aboutus">About Us</a>
              </div>
            </div>
          </div>
        </div>
    </nav>
    <div class="contain">
        <div class="head-img">
            <img src="/charlie/article/sydney.webp" alt="sydney" style="object-fit: cover;">
        </div>
        <div class="article">
            <img src="/charlie/article/sydmap.webp" class="map" alt="sydneymap" >
            <h1>GUIDE TO SYDNEY</h1> <br>
            <h2>Seek out some sunshine and good times in Australia's Harbour City.</h2> 
            <div class="lineHorizontal__container">
                <div class="lineHorizontal"></div>
            </div>
            <br><br><br><br>
            <p>Sydney is the first stop on many Australian itineraries, and for good reason. It's an inviting blend of the exhilarating and easygoing. You can find excitement in the city, but drive just a few kilometres and you'll hit the golden sand of famous beaches like Bondi and Manly. Plus, with endless nature at its doorstep, Sydney is the starting point for day trips serving up fresh air, unique flavours and locals who know a thing or two about living life to the fullest.</p>
            <br><br>
            <h3>Don't miss</h3> 
            <ul>
                <li>Swim at picturesque beaches</li> 
                <li>Take in Australia’s most recognisable landmarks</li> 
                <li>Dine at world-class restaurants</li>
            </ul>
            <br>
            <h3>How to get there</h3>
            <p>International flights fly directly into Sydney Airport from many global hubs. From the airport it’s an easy 20-minute taxi or train ride to the city centre.</p>
            <br>
            <h3>Useful tips</h3>
            <ul>
                <li>Decide when to visit and what to pack with this info on seasonal weather in Sydney.</li> 
                <li>Find all of the city’s transport options with this guide on getting around.</li> 
                <li>Visit a local visitor information centre for more detailed info on the area.</li>
            </ul>
            <br>
            <h4>THINGS TO DO AND TOP ATTRACTIONS IN SYDNEY</h4>
            <br>
            <img src="/charlie/article/pool.jpg" alt="pool">
            <h5>Bondi Icebergs Pool, Sydney, New South Wales</h5>
            <br>
            <h3>Discover Australia's most famous stretch of sand - Bondi Beach</h3>
            <br>
            <p>
                There are plenty of reasons to love Bondi Beach. Just minutes from the city centre, you can immerse yourself in "the Bondi Bubble". You'll find incredible surfing, fantastic cafes and restaurants, designer shops and plenty to keep you busy. Join the locals for a casual stroll along the Bondi to Coogee coastal trail - one of Sydney’s most scenic treks. Begin at the Bondi Icebergs ocean pool and traverse the six-kilometre (3.7-mile) clifftop trail between Tamarama and Coogee beaches. If you're in town during Sculpture by the Sea, you'll see the route transformed with temporary art pieces.
            </p>
            <br>
            <img src="/charlie/article/zoo.jpg" alt="zoo">
            <h5>Roar and Snore, Taronga Zoo Sydney, New South Wales</h5>
            <br>
            <h3>Get up close and personal to the animals at the zoo</h3>
            <br>
            <p>
                Visit the animals at Taronga Zoo Sydney with their incredible waterside address just a 12-minute ferry ride north from Circular Quay. Taronga Zoo Sydney houses more than 4,000 animals both native and exotic, including gorillas, tigers, leopards, chimpanzees, giraffes, Australian sea lions, kangaroos and koalas. Once you’ve been up close with the animals, experience the wildlife from a new perspective by tackling the treetop Wild Ropes – more than 60 high rope challenges over four courses, including zip-lines, rope climbs and suspended bridges. For the ultimate sleepover, book the Roar and Snore experience, allowing you to stay in safari-style tents at the zoo and encounter animals up close.
            </p>
            <br>
            <img src="/charlie/article/opera.webp" alt="opera">
            <h5>Sydney Opera House, Sydney, New South Wales</h5>
            <br>
            <h3>Spend the day at the Sydney Opera House</h3>
            <br>
            <p>
                There are many ways you can experience what the Sydney Opera House has to offer. A masterpiece of 20th-century architecture, the Sydney Opera House in Circular Quay hosts more than 40 performances each week. Book tickets to Opera Australia’s latest show and tick this truly iconic Sydney experience off your bucket list. If what happens off-stage intrigues you, sign up for a two-hour backstage tour, which takes guests behind-the-scenes into the exclusive domain of performers, with a full cooked breakfast in the green room. Tours operate daily at 7am. To cap it all off, dine overlooking the harbour at Peter Gilmore’s restaurant Bennelong - one of Australia's most awarded fine dining restaurants.
            </p>
            <br>
            <img src="/charlie/article/bridge.webp" alt="bridge">
            <h5>BridgeClimb, Sydney, New South Wales</h5>
            <br>
            <h3>Climb to the top of the Sydney Harbour Bridge</h3>
            <br>
            <p>
                Nicknamed “The Coathanger” and dating back to 1932, the Sydney Harbour Bridge is one of Australia’s grandest engineering feats. Visitors are free to walk or cycle across this vast structure, but book a BridgeClimb for the opportunity to scale to the summit and enjoy unbeatable panoramic views. Expeditions will take you high into its arches before reaching its peak, 134 metres (440 feet) above sea level. No special climbing skills are required, and there are various sessions throughout the day, including at twilight and dawn.
            </p>
            <br>
            <img src="/charlie/article/restaurant.jpg" alt="restaurant">
            <h5>Quay restaurant, Sydney, New South Wales</h5>
            <br>
            <h3>Dine at Sydney's top restaurants</h3>
            <br>
            <p>
                Sydneysiders take their food seriously, with many of Australia’s most awarded and innovative restaurants found here. Dine at Quay to sample beautiful, natural produce that represents Australia on a plate. Aria is also an excellent choice for fine dining with incredible views of the Harbour Bridge and Opera House. For a more laid-back affair, head to Mr. Wong, which serves modern Cantonese cuisine (its Peking duck is legendary) at its French colonial space on Bridge Street. Or head to the inner-city neighbourhood of Surry Hills, a 10-minute drive from the centre of Sydney, to dine at hip restaurants including Chin Chin and Firedoor.
            </p>
            <br>
            <img src="/charlie/article/island.jpg" alt="island">
            <h5>Camping, Cockatoo Island, Sydney, New South Wales </h5>
            <br>
            <h3>Camp on Cockatoo Island</h3>
            <br>
            <p>
                Spend a night on Cockatoo Island, in the middle of Sydney Harbour, and wake up to one of the world’s greatest views. You can bring your own tent or book a ‘glamping’ package to leave it up to the experts, with beds, lanterns and toiletries included. Campers have access to hot showers and a communal camp kitchen, but if you'd rather not cook, barbecue and breakfast packs can also be ordered.
            </p>
            <br>
            <img src="/charlie/article/theatre.jpg" alt="theatre">
            <h5>Bennelong, Bangarra Dance Theatre, Sydney, New South Wales </h5>
            <br>
            <h3>Find ancient culture in a modern city</h3>
            <br>
            <p>
                Australia’s Aboriginal heritage isn’t relegated to wild places – its heartbeat echoes through the heart of Sydney. Seek out Aboriginal culture in Sydney on a stunningly intimate walking tour of The Rocks with Dreamtime Southern X, or at Barangaroo with Aboriginal Cultural Tours. You'll find the fascinating First Nations galleries at the Australian Museum, showcasing one of the finest collections of Aboriginal and Torres Strait Islander objects. Take a guided tour through the lush Royal Botanical Gardens to learn about the use of plants, taste bush foods and try your hand at an art class. Be sure to check if the world-acclaimed Bangarra, one of Australia's leading performing arts companies, is performing during your stay. If you're keen to explore further, quad bike across giant sand dunes with an Aboriginal guide in Port Stephens.
            </p>
        </div>
    </div>
    <footer>
        <p>Contact Us Through
           <br>
           <br>
           <i data-feather="instagram" style="width: 35px; height: 35px;"></i>         
           <i data-feather="facebook" style="width: 35px; height: 35px;"></i>         
           <i data-feather="twitter" style="width: 35px; height: 35px;"></i>         
           <i data-feather="github" style="width: 35px; height: 35px;"></i>
           <br><br><br><br><br>
           Copyright &copy; 2020 by TRIVEL 
           <br>
           All Rights Reserved
        </p>
      </footer>
    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/feather-icons"></script>
    <script>
      feather.replace();
    </script>
</body>
</html>