<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tokyo</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/article.css">
</head>
<body>
    <nav class="navbar navbar-light d-flex justify-content-between" style="background-color: gold;">
        <a class="navbar-brand ml-5 my-2 font-italic font-weight-bold">
            <i data-feather="send"></i>TRIVEL
        </a>
        
        <form class="form-inline ml-5 my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Type to Search" aria-label="Search">
          <button class="btn btn-dark btn-outline-warning my-2 my-sm-0" type="submit">
            <i data-feather="search"></i>
          </button>
        </form>
        
        <div class="row">
          <div class="col mx-0">
          <a class="nav-link active" href="https://kelompok-15.github.io/Web-Booking-Travel-Online/">Home</a>
          </div>
    
          <div class="col mx-0">
          <a class="nav-link" href="https://kelompok-15.github.io/Web-Booking-Travel-Online/paket-paket/paket-paket.html">Package</a>
          </div>
    
          <div class="btn-group dropleft col">
              <button type="button" class="btn btn-dark btn-outline-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i data-feather="user"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="https://kelompok-15.github.io/Web-Booking-Travel-Online/Login/register.html">Sign-Up</a>
                <a class="dropdown-item" href="https://kelompok-15.github.io/Web-Booking-Travel-Online/Login/login.html">Sign-In</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="https://kelompok-15.github.io/Web-Booking-Travel-Online/Popular%20Destination/index.html">Recommendation</a>
                <a class="dropdown-item" href="https://kelompok-15.github.io/Web-Booking-Travel-Online/About%20Us/index.html">About Us</a>
              </div>
            </div>
          </div>
        </div>
    </nav>
    <div class="contain">
        <div class="head-img">
            <img src="/charlie/article/tokyo.jpg" alt="sydney" style="object-fit: cover;">
        </div>
        <div class="article">
            <img src="/charlie/article/tokyomap.jpg" class="map" alt="tokyomap" >
            <h1>GUIDE TO TOKYO</h1> <br>
            <h2>Where else can you be in a city of ten million people but hear a pin drop?</h2> 
            <div class="lineHorizontal__container">
                <div class="lineHorizontal"></div>
            </div>
            <br><br><br><br>
            <p>Tokyo (東京, Tōkyō) is Japan's capital and the world's most populous metropolis. It is also one of Japan's 47 prefectures, consisting of 23 central city wards and multiple cities, towns and villages west of the city center. The Izu and Ogasawara Islands are also part of Tokyo. Today, Tokyo offers a seemingly unlimited choice of shopping, entertainment, culture and dining to its visitors. The city's history can be appreciated in districts such as Asakusa and in many excellent museums, historic temples and gardens. Contrary to common perception, Tokyo also offers a number of attractive green spaces in the city center and within relatively short train rides at its outskirts.</p>
            <br><br>
            <h3>Don't miss</h3> 
            <ul>
                <li>Watch a sumo match</li> 
                <li>Gaze at Mount Fuji from Hakone</li> 
                <li>See the Hachiko Statue</li>
            </ul>
            <br>
            <h3>How to get there</h3>
            <p>International flights fly directly into Tokyo Airport from many global hubs. From the airport it’s an easy 20-minute taxi or train ride to the city centre.</p>
            <br>
            <h3>Useful tips</h3>
            <ul>
                <li>Decide when to visit and what to pack with this info on seasonal weather in Tokyo.</li> 
                <li>Find all of the city’s transport options with this guide on getting around.</li> 
                <li>Visit a local visitor information centre for more detailed info on the area.</li>
            </ul>
            <br>
            <h4>THINGS TO DO AND TOP ATTRACTIONS IN TOKYO</h4>
            <br>
            <img src="/charlie/article/akihabara.jpg" alt="akihabara">
            <h5>Akihabara Electric Town</h5>
            <br>
            <h3>Akihabara</h3>
            <br>
            <p>
                Akihabara (秋葉原), also called Akiba after a former local shrine, is a district in central Tokyo that is famous for its many electronics shops. In more recent years, Akihabara has gained recognition as the center of Japan's otaku (diehard fan) culture, and many shops and establishments devoted to anime and manga are now dispersed among the electronic stores in the district. On Sundays, Chuo Dori, the main street through the district, is closed to car traffic from 13:00 to 18:00 (until 17:00 from October through March).
                Akihabara has been undergoing major redevelopment over the years, including the renovation and expansion of Akihabara Station and the construction of new buildings in its proximity. Among these newly opened buildings were a huge Yodobashi electronics store and the Akihabara Crossfield, a business complex with the aim of promoting Akihabara as a center for global electronics technology and trade.
            </p>
            <br>
            <img src="/charlie/article/tokyomarket.jpg" alt="market">
            <h5>Outer Market</h5>
            <br>
            <h3>Tsukiji Outer Market</h3>
            <br>
            <p>
                Tsukiji Outer Market (築地場外市場, Tsukiji Jōgai Shijō) is a district adjacent to the site of the former Tsukiji Wholesale Market. It consists of a few blocks of wholseale and retail shops, as well as restaurants crowded along narrow lanes. Here you can find fresh and processed seafood and produce alongside food-related goods such as knives.
                A visit to Tsukiji Outer Market is best combined with a fresh sushi breakfast or lunch at one of the local restaurants. The restaurants are typically open from 5:00 in the morning to around noon or early afternoon. Because most of the fish served and sold at Tsukiji Outer Market is delivered directly from Toyosu Market, this is one of the best places in Tokyo to enjoy fresh seafood.
            </p>
            <br>
            <img src="/charlie/article/koishikawa.jpg" alt="koishikawa">
            <h5>Koishikawa Korakuen</h5>
            <br>
            <h3>Koishikawa Korakuen</h3>
            <br>
            <p>
                Koishikawa Korakuen (小石川後楽園, Koishikawa Kōrakuen) is one of Tokyo's oldest and best Japanese gardens. It was built in the early Edo Period (1600-1867) at the Tokyo residence of the Mito branch of the ruling Tokugawa family. Like its namesake in Okayama, the garden was named Korakuen after a poem encouraging a ruler to enjoy pleasure only after achieving happiness for his people. Koishikawa is the district in which the garden is located in. Like most traditional Japanese gardens, Koishikawa Korakuen attempts to reproduce famous landscapes in miniature, using ponds, stones, trees and manmade hills to replicate both Japanese and Chinese scenery. A network of walking trails leads around to prescribed viewpoints from which visitors are meant to view the garden, which despite the relatively unobtrusive modern backdrop of Tokyo Dome and other buildings in the distance, remains a beautiful natural escape from urban Tokyo.
            </p>
            <br>
            <img src="/charlie/article/hama.jpg" alt="hamarikyu">
            <h5>Hama Rikyu and the Shiodome District in the background</h5>
            <br>
            <h3>Hama Rikyu</h3>
            <br>
            <p>
                Hama Rikyu (浜離宮, Hama Rikyū), is a large, attractive landscape garden in central Tokyo. Located alongside Tokyo Bay, Hama Rikyu features seawater ponds which change level with the tides, and a teahouse on an island where visitors can rest and enjoy the scenery. The traditionally styled garden stands in stark contrast to the skyscrapers of the adjacent Shiodome district. The garden has served many purposes over the centuries. It was originally built as a feudal lord's Tokyo residence and duck hunting grounds during the Edo Period (1603-1867), but later served as a strolling garden and as an imperial detached palace before eventually being opened to the public in its current form. Vestiges of these old roles are still visible throughout the garden including several reconstructed duck hunting blinds, and the remains of an old moat and reconstructed rock wall.
            </p>
            <br>
            <img src="/charlie/article/imperial.jpg" alt="imperial">
            <h5>Imperial Palace East Gardens</h5>
            <br>
            <h3>Imperial Palace East Gardens</h3>
            <br>
            <p>
                The Imperial Palace East Gardens (皇居東御苑, Kōkyo Higashi Gyoen) are a part of the inner palace area and are open to the public. They are the former site of Edo Castle's innermost circles of defense, the honmaru ("main circle") and ninomaru ("secondary circle"). None of the main buildings remain today, but the moats, walls, entrance gates and several guardhouses still exist.
                Edo Castle was the residence of the Tokugawa shogun who ruled Japan from 1603 to 1867. Emperor Meiji also resided there from 1868 to 1888 before moving to the newly constructed Imperial Palace.
            </p>
            <br>
            <img src="/charlie/article/tokyoimperial.jpg" alt="tokyoimperial">
            <h5>Moats and walls surround the imperial palace</h5>
            <br>
            <h3>Tokyo Imperial Palace</h3>
            <br>
            <p>
                The current Imperial Palace (皇居, Kōkyo) is located on the former site of Edo Castle, a large park area surrounded by moats and massive stone walls in the center of Tokyo, a short walk from Tokyo Station. It is the residence of Japan's Imperial Family.
                Edo Castle used to be the seat of the Tokugawa shogun who ruled Japan from 1603 until 1867. In 1868, the shogunate was overthrown, and the country's capital and Imperial Residence were moved from Kyoto to Tokyo. In 1888 construction of a new Imperial Palace was completed. The palace was once destroyed during World War Two, and rebuilt in the same style, afterwards.
            </p>
            <br>
            <img src="/charlie/article/tokyomuseum.jpg" alt="tokyomuseum">
            <h5>Tokyo National Museum</h5>
            <br>
            <h3>Tokyo National Museum</h3>
            <br>
            <p>
                The Tokyo National Museum (東京国立博物館, Tōkyō Kokuritsu Hakubutsukan) is the oldest and largest of Japan's top-level national museums, which also include the Kyoto National Museum, the Nara National Museum and the Kyushu National Museum. It was originally established in 1872 at Yushima Seido Shrine and moved to its current location in Ueno Park a few years later. The Tokyo National Museum features one of the largest and best collections of art and archeological artifacts in Japan, made up of over 110,000 individual items including nearly a hundred national treasures. At any one time, about 4000 different items from the permanent museum collection are on display. In addition, visiting temporary exhibitions are also held regularly. Good English information and audio guides are available.
            </p>
        </div>
    </div>
    <footer>
        <p>Contact Us Through
           <br>
           <br>
           <i data-feather="instagram" style="width: 35px; height: 35px;"></i>         
           <i data-feather="facebook" style="width: 35px; height: 35px;"></i>         
           <i data-feather="twitter" style="width: 35px; height: 35px;"></i>         
           <i data-feather="github" style="width: 35px; height: 35px;"></i>
           <br><br><br><br><br>
           Copyright &copy; 2020 by TRIVEL 
           <br>
           All Rights Reserved
        </p>
      </footer>
    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/feather-icons"></script>
    <script>
      feather.replace();
    </script>
</body>
</html>